[Unit]
Description=DOFA
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /path/to/your/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /path/to/your/docker-compose.yml down

[Install]
WantedBy=default.target
