numpy==1.25.0
tensorflow
PyYAML~=6.0
clearml
websockets
scikit-image
scikit-learn
opencv-python
tqdm

coverage
pytest
pytest-cov

-i https://download.pytorch.org/whl/cu121

torch
torchvision
torchaudio

